
@{
    ViewBag.Title = "ChangePassSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2><b>Đổi mật khẩu thành công !</b></h2>
<h3><b>Vui lòng nhấn vào <a href="@Url.Action("Login", "Home")">đây</a> để tiếp tục sử dụng !</b></h3>

